@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Work+Sans:wght@300&display=swap');
*{
    background-color: var(--bg-color);    
    color: var(--font-color); 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1vmin;
    font-family: 'Work Sans', sans-serif;
}

:root{
    --bg-color: #e7e6cd;
    --la-color: #81b3d4;
    --main-color: #4B738D;
    --da-color: #773348;
    --font-color: #471e4b; 
}

.grid{
    display: grid;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    flex-direction: column;
    padding-bottom: 1.4vh;
    width: 100vw;
}

.title{
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 7rem;
    margin-top: 1.3vh;
}

.subtitle{
    font-family: 'Arvo', serif;
    font-weight: 400;
    margin-top: 0.5vh;
    font-size: 2.5rem;
}

.year{
    margin-top: 3vh;
    font-size: 3rem;
}

.mainbg{
    background-color: var(--main-color);
}

.dabg{
    background-color: var(--da-color);
}

.courses{
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    min-height: 15vh;
    border: 0.25vh;
    border-style: solid;
    border-color: black;
}

.no-top{
    border-top: 0;
}

.course{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2vw;
}

.course-name{
    font-size: 4rem;
}

.course-points{
    font-size: 3rem;
}

.not-selected{
    background-color: var(--la-color);
}

.selected{
    background-color: var(--da-color);
}

.grade-letter{
    margin: 1vh;
    height: 5vh;
    width: 5vh;
    font-size: 3vh;
}

.grade-letter:hover{
    background-color: var(--da-color);
}

.calculator{
    grid-template-columns: 1fr 3fr 1fr;
}

.column2{
    grid-column: 2;
}

/* Main/Sub Menu */

.main-menu{
    background-color: black;
    grid-template-columns: repeat(2, 1fr 0.01fr) 1fr;
    position: absolute;
    top: 15vmin;
    bottom: 0;
}

.sub-menu{
    background-color: black;
    grid-template-columns: 1fr 0.01fr 1fr;
    position: absolute;
    top: 15vmin;
    bottom: 0;
}

.button{
    position: relative;
}

.image-text{
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 5rem;
}

.background {
    overflow: hidden; 
}

.background:not(:hover){
    opacity: 0.5;
}

.image-zoom{
    transition: transform 1s ease;
}

.image-zoom:hover{
    transform: scale(1.1);
}

.image-text{
    position: absolute;
    text-align: center;
    background-color: orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -165%);
    font-size: 8rem;
    padding: 1.5vmin;
    border-radius: 1vh;
    min-height: 1vmin;
    max-height: 18vmin;
}

.rows2{
    transform: translate(-50%, -115%);
}

.bruh{
    min-height: 18vmin
}

.backend{
    white-space: nowrap;
}